ul.class li {
    float: left;
    width: 200px;
    height: 220px;
    margin: 0 1em 1em 0;
    text-align: center;
}
ul.class li img {
    border-radius: 50%;
    height: 120px;
    width: 120px;
}
ul.class .member-name {
  color: #0B0C0C;
  font-size: 19px;
}

ul.class .member-email,
ul.class .member-place,
ul.class .member-phone {
    color: #5b616b;
    font-size: small;
}
.class-member {
    margin-top: 1em;
    h1 {
        margin-top: 0;
    }
    .member-role,
    .member-place,
    .member-email,
    .member-phone {
        font-size: 1.2em;
    }
}

footer {
  background-color: #DEE0E2;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}