---
layout: base
title: Our blog
permalink: /blog/
---
<h1>Our blog section</h1><br>
<section>
  <div class="row">
  {% for post in site.posts %}
    <div class="col-sm-4">
	  
                <h4><a href="{{ post.url }}">{{ post.title }}</a></h4>

                {% if post.header-image %}
                  <img src="/img/post/{{ post.header-image }}" alt="Photo of {{ post.title }}">
                {% else %}
                  <img src="{{ site.baseurl }}/img/post/default-blog-image.png" >
                {% endif %} 
                <p>Published On: {{ post.date | date:"%d %B %Y " }}</p>
                {% if post.author %}
                  <p>Author: <a href="{{ post.author_url | prepend: site.baseurl }}">{{ post.author }}</a>  </p>
                {% else %}
                  <p>Author: Unknown</p>
                {% endif %}


    </div>
      {% endfor %}
      </div>
    </div>
  </div>
</section>
