---
layout: base
title: Our blog
permalink: /blog/
---

<h1>Our blog section</h1><br>
<section>
  <div class="row">
  {% for post in site.posts %}
    <div class="col-sm-4">
	  
                <h4><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h4> 
                <p>Published On: {{ post.date | date:"%d %B %Y " }}</p>
                {% if post.author %}
                <p>Author: {{ post.author }} </p>

    </div>
      {% endfor %}
      </div>
    </div>
  </div>
</section>
