---
layout: base
title: The Class
permalink: /class/
---
<div class="row">
  <div class="col-xs-12 col-md-9 pull-md-3 bd-content">
    <h1>Meet Our Class</h1>
    <p class="lead"> Each and every one of our members represent the spirit of our class: driven, committed, and acutely aware of how limitless our potential is to grow. Click through our Member list to learn more and read what motivates them.</p>
  </div>
</div>
<div class="container">
  <ul class="class list-inline"> {% assign members = site.class | sort: 'firstname' %} {% for member in members %}
    <li> <a href="{{ member.url | prepend: site.baseurl }}">
      {% if member.photo %}
        <img src="{{ site.baseurl }}/img/class/{{ member.photo }}" alt="Photo of {{ member.firstname }} {{ member.lastname }}">
      {% else %}
        <img src="{{ site.baseurl }}/img/avatar.png" alt="Class of 2020 avatar since {{ member.firstname }} {{ member.lastname }} does not have a photo yet">
      {% endif %}
    </a>
      <div class="member-name"> <a href="{{ member.url | prepend: site.baseurl }}">{{ member.firstname }} {{ member.lastname }}</a> </div> {% if member.email %}
      <div <div class="member-email"> <a href="mailto:{{ member.email }}">{{ member.email }}</a> </div> {% endif %} {% if member.place %}
      <div class="member-place"> {{ member.place }} </div> {% endif %} </li> {% endfor %} </ul>
</div>
<div class="row-fluid mini-section">
  <div class="col-md-6">
    <h2>Add Member to the List</h2>
    <p>This website is <a href="https://github.com/Classof2020/classof2020.github.io/">open source</a>, therefore anyone in the class can submit edits through pull requests. If you or your friend in the class isn’t on this list, but should be, please add it:</p>
    <ol>
      <li>Browse to the website repository: <a href="https://github.com/Classof2020/classof2020.github.io/">here</a>
      </li>
      <li>Fork and clone the repository(or clone it if you have commit access)</li>
      <li>Create a branch. </li>
      <li>Navigate to the _class/ directory. Open _TEMPLATE.md and follow the instructions there.</li>
      <li>After you've made the necessary changes, commit the feature branch.</li>
      <li>Push the feature branch to GitHub.</li>
      <li>Open a pull request to merge the branch.</li>
      <li>Click “Create pull request”</li>
    </ol>
  </div>
  <div class="col-md-6">
    <h2>Guidelines</h2>
    <p>While there are many many students at NCIT Class of 2020, we are limiting the list above to Software Engineering department, more specifically to the ones who are taking the course at day.</p>
    <h2>Contact</h2>
    <p>If you have any questions, or if would like your picture removed from the list above, please <a href="https://github.com/Classof2020/classof2020.github.io/issues/new">let us know</a>.</p>
  </div>
</div>