<footer class="thdc-footer thdc-background-dark">
  <div class="thdc-grid">
    <nav>
      <div class="thdc-width-one-third">
        <h3>About Us</h3>
        <ul class="thdc-unstyled-list">
          <li><a href="{{ '/about/' | prepend: site.baseurl }}">About the Center</a></li>
          <li><a href="{{ '/vision/' | prepend: site.baseurl }}">THDC Vision</a></li>
          <li><a href="{{ '/team/' | prepend: site.baseurl }}">The THDC Team</a></li>
          <li><a href="{{ '/blog/' | prepend: site.baseurl }}">Blog/Notice</a></li>
          <li><a href="{{ '/publication/' | prepend: site.baseurl }}">Publication</a></li>
	  <li><a href="{{ '/faq' | prepend: site.baseurl }}">Frequently Asked Questions (FAQ)</a></li>
	  <li><a href="{{ '/contact' | prepend: site.baseurl }}">Contact Us</a></li>
        </ul>
	  </div>
	  <div class="thdc-width-one-third">
	    <h3>Resources</h3>
		<ul class="thdc-unstyled-list">
		  <li><a href="http://moad.gov.np" target="_blank">Ministry of Agriculture Development</a></li>
		  <li><a href="http://doanepal.gov.np/" target="_blank">Department of Agriculture</a></li>
		  <li><a href="http://fdd.gov.np/" target="_blank">Fruit Development Directorate</a></li>
		</uL>
	    <h3>Open Source</h3>
        <ul class="thdc-unstyled-list">
          <li><a href="https://github.com/THDCMustang/thdcmustang.github.io">Edit this site</a></li>
          <li><a href="https://github.com/THDCMustang/thdcmustang.github.io/issues">Send us website feedback</a></li>
        </ul>
	  </div>
      <form action="//thdcmustang.us14.list-manage.com/subscribe/post?u=7edc562d5562d6debce7e8691&amp;id=a3dabb65d5" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
        <fieldset>
          <h4>Sign up for updates from THDC</h4>
          <div class="thdc-width text_block">
            <label for="mce-EMAIL">Email Address </label>
            <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
			
            <div id="mce-responses" class="clear">
              <div class="response" id="mce-error-response" style="display:none"></div>
              <div class="response" id="mce-success-response" style="display:none"></div>
            </div>

            <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
            <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_6f1977de9eff4c384dc8d6527_ab90bdad59" tabindex="-1" value=""></div>
			
            <button type="submit" value="{{ f.button }}" class="thdc-button">Submit</button>
          
          </div>
		  <a href="{{ '/privacy' | prepend: site.baseurl }}">Privacy and Security Notice</a>
        </fieldset>
      </form>
    </nav>
  </div>
</footer>

<div class="thdc-footer-secondary_section">
  <div class="thdc-grid">
    <div class="thdc-footer-logo thdc-width-one-half">
      <img class="thdc-footer-logo-img" src="{{ site.baseurl }}/img/thdcmustang.png" alt="Logo of the THDC, Mustang">
    </div>
    <div class="thdc-footer-contact-links thdc-width-one-half">
	  <a class="thdc-link-twitter" href="https://twitter.com/THDCMustang" target="_blank">
        <span>Twitter</span>
      </a>
	  <a class="thdc-link-facebook" href="https://facebook.com/THDCMustang" target="_blank">
        <span>Facebook</span>
      </a>
	  <a class="thdc-link-instagram" href="https://instagram.com/thdcmustang" target="_blank">
        <span>Instagram</span>
	  </a>
	  <a class="thdc-link-medium" href="https://medium.com/@THDCMustang" target="_blank">
        <span>Medium</span>
      </a>
      <address>
        <h3 class="thdc-footer-contact-heading">Temperate Horticulture Development Center</h3>
        <p>Phone: +977 (069) 400034</p>
        <a href="{{ '/contact' | prepend: site.baseurl }}">Contact Us</a>
      </address>
    </div>
  </div>
</div>
	
<script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
