---
layout: base
description: >
  For the use of individual team profile page.
---

  <p class="bread"><a href="{{ '/class' | prepend: site.baseurl }}">&laquo; All Members Of Our Class</a> </p>

  <h1>{{ page.firstname }} {{ page.lastname }}</h1><br />

<div class="class-member">
  <div class="row">
    <div class="col-md-3"> {% if page.photo %} <img src="{{ site.baseurl }}/img/class/{{ page.photo }}" alt="Photo of {{ page.firstname }} {{ page.lastname }}"> {% else %} <img src="{{ site.baseurl }}/img/avatar.png" alt="Class of 2020 logo since {{ page.firstname }} {{ page.lastname }} does not have a photo yet"> {% endif %}<br /><br />
      {% if page.place %}
      <div class="member-place"><span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>&nbsp;&nbsp;{{ page.place }}</div>{% endif %} {% if page.website %}
	  <div class="member-website"><span class="glyphicon glyphicon-link" aria-hidden="true"></span>&nbsp;&nbsp;<a href="{{ page.website}}" target="_blank">My Website</a></div>{% endif %}{% if page.phonenumber %}
      <div class="member-phone"><span class="glyphicon glyphicon-phone" aria-hidden="true"></span>&nbsp;&nbsp;<a href="tel:+977{{ page.phonenumber }}">+977 {{ page.phonenumber }}</div>{% endif %} {% if page.email %}
      <div class="member-email"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>&nbsp;&nbsp;<a href="mailto:{{ page.email }}">Drop me a line</a></div>{% endif %}
	  <div class="social"><h3>Social</h3>{% if page.facebook %}<a href="{{ page.facebook }}" target="_blank"><i class="fa fa-facebook"></i></a>&nbsp;&nbsp;&nbsp;{% endif %} {% if page.twitter %}<a href="{{ page.twitter }}" target="_blank"><i class="fa fa-twitter" ></i></a>&nbsp;&nbsp;&nbsp;{% endif %} {% if page.instagram %}<a href="{{ page.instagram }}" target="_blank"><i class="fa fa-instagram" ></i></a>&nbsp;&nbsp;&nbsp;{% endif %} {% if page.linkedin %}<a href="{{ page.linkedin }}" target="_blank"><i class="fa fa-linkedin" ></i></a>&nbsp;&nbsp;&nbsp;{% endif %} {% if page.github %}<a href="{{ page.github }}" target="_blank"><i class="fa fa-github" ></i></a>&nbsp;&nbsp;&nbsp;{% endif %} </div></div>
    <div class="clearfix visible-xs"></div>
    <div class="col-md-7"> {{ content }} </div>
  </div>
</div>
