---
layout: base
description: >
  For the use of individual team profile page.
---

<div class="row">
  <p><a href="{{ '/class' | prepend: site.baseurl }}">&laquo; All Members Of Our Class</a></p>
</div>

<div class="class-member">
  <div class="row">
    <div class="col-xs-6 col-sm-3">
      {% if page.photo %}
        <img src="{{ site.baseurl }}/img/class/{{ page.photo }}" alt="Photo of {{ page.firstname }} {{ page.lastname }}">
      {% else %}
        <img src="{{ site.baseurl }}/img/avatar.png" alt="Class of 2020 logo since {{ page.firstname }} {{ page.lastname }} does not have a photo yet">
      {% endif %}
    </div>
    <div class="col-md-8">
      <h1>{{ page.firstname }} {{ page.lastname }}</h1>
      {% if page.place %}<div class="member-place">{{ page.place }}</div>{% endif %}
      {% if page.phonenumber %}<div class="member-phone">{{ page.phonenumber }}</div>{% endif %}
      {% if page.email %}<div class="member-phone">{{ page.email }}</div>{% endif %}
      {% if page.facebook %}<div class="member-social"><a href="{{ page.facebook }}"><i class="fa fa-facebook"></i></a>{% endif %}&nbsp;&nbsp;
	  {% if page.twitter %}<a href="{{ page.twitter }}"><i class="fa fa-twitter"></i></a></div>{% endif %}  
	</div>
  </div><br><br>
  <div class="row">
    <div class="col-xs-12 col-md-9 pull-md-3 bd-content">
      {{ content }}
    </div>
  </div>
</div>
